<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="myStyle2.css">
</head>
<body>

<h2>База данных пользователей</h2>

<table id="usersList">

</table>

<form action="#">
    <input id="user_name" placeholder="имя пользователя">
    <input id="user_login" placeholder="логин">
    <input id="user_email" placeholder="email">
    <button onclick="createUser()" class="button">Добавить пользователя</button>
</form>

<input id="search_field" placeholder="логин для поиска">
<button onclick="searchByLogin()" class="button">Поиск по логину</button>
<script src="myScript2.js"></script>
</body>
</html>